.container-fluid.mobile
  .row.main-info
    %h1
      %strong Sell iPad Air / iPad Mini NYC / Apple iPad Buyers
    %img.img.center-block.hidden-xs{:alt => "", :src => "/ipad.jpg", :width => "300"}/
    %h2 We are number one iPad buyer in New York City
    %p
      We buy all iPads (iPad Pro, iPad mini 4, iPad Air 2, iPad Air, iPad 4, iPad Retina, iPad Mini 3, iPad Mini Retina). So if you
      have iPad to sell call us right now or come straingt to our location and can be sure you will get
      top cash. We always pay more for iPads in NYC.
    %h2 Where to sell iPad in NYC
    %p
      If you are looking for a place to sell your iPad Air, Pro and iPad Mini in Long Island or Queens: