.container-fluid.mobile
.container-fluid.mobile
  .row.main-info
    %h1
      %strong Sell iPhone 6s NYC
    %img.img.center-block.hidden-xs{:alt => "", :src => "/iphone6.jpg", :width => "300"}/
    %h2 We are number one iPhone 6s / iPhone 6s Plus buyer in New York City
    %p
      We buying all iPhone 6s and 6s Plus. We always pay top dollar for iPhone 7 in New York. Call
      us right now and get your best offer.
    %h2 Where to sell iPhone 6s / 6s Plus in NYC?
    %p We don't purchase any lost or stolen items. Please make sure to have identification and to be over the age of 18.
