.container-fluid.mobile
  .row.main-info
    %h1
      %strong Sell iPhone 5 NYC
    %img.img.center-block.hidden-xs{:alt => "", :src => "/iphone-5.jpg", :width => "300"}/
    %h2 We are number one iPhone 5 / iPhone 5S / iPhone 5C buyer in NYC
    %p
      One of the reasons why people keep working with us again and again
      we always pay more. Top Dollar for iPhone 5, iPhone 5S and iPhone
      5C in New York City area. Just come to our location or call us and we will
      do our best to give you best offer. Your satisfaction is guaranteed.
    %h2 Where to sell iPhone 5 / iPhone 5 S/ iPhone 5 C
    %p We don't purchase any lost or stolen items. Please make sure to have identification and to be over the age of 18.
