.container-fluid.mobile
.container-fluid.mobile
  .row.main-info
    %h1
      %strong Sell iPhone 6 NYC
    %img.img.center-block.hidden-xs{:alt => "", :src => "/iphone6.jpg", :width => "300"}/
    %h2 We are number one iPhone 6 / iPhone 6 Plus buyer in New York City
    %p
      We buying all iPhone 6 and 6 Plus. We always pay top dollar for iPhone 6 in New York. Call
      us right now and get your best offer.
    %h2 Where to sell iPhone 6 / 6 Plus in NYC?
    %p We don't purchase any lost or stolen items. Please make sure to have identification and to be over the age of 18.
