
<%
   meta title: "Sell my Samsung Galaxy Note in NYC| Samsung Buyers in NYC",
        description: "We buy Samsung Galaxy Note in NYC, Queens, Manhattan and Brooklyn for top cash.
         Top dollar for phones in NY.",
        keywords: %w(Sell Phone Phones top cash iPhone iPhones Note Galaxy
         money NYC Queens Manhattan Brooklyn New York Buy video City)
%>
<div class="container-fluid mobile">
  <div class="row main-info">
    <h1><strong>Sell Samsung Galaxy / Note in NYC</strong></h1>
    <img src="/note.jpg" width="300" class="img center-block hidden-xs" alt=""/>
    <h2>We are number one Galaxy S / Note buyer in New York City</h2>
    <p>We buying all Samsung Galaxy S and Note. We always pay top dollar for Samsung phones and tablets
      in New York. Call
      us right now and get your best offer.</p>
    <h2>Where to sell Samsung Galaxy S or Note in NYC?</h2>
    <p>We have two places where we buy Samsung Galaxy S / Note in New York. Fro people want to sell Samsung in Manhattan, Brooklyn,
      Bronx, New Jersey and Connecticute:<strong> 71 West 47 Street, Midtown, New York, 10036, suite 302.</strong></p>
    <p>For people who want to sell Samsung Galaxy S or Note  in Queens or Long Island: <strong> 8710 Lefferts Blvd,
      Richmond Hill, New York, 11418.</strong> </p>
    <p>We don't purchase any lost or stolen items. Please make sure to have identification and to be over the age of 18.</p>

  </div>
</div>