<hr/>
<div class="container">
  <div class="row">
    <div class="footer text-center">
      <div class="col-sm-4 col-xs-12">
        Follow Us: <br/>
        <a href="https://www.facebook.com/webuygoodsnyc"><i class="fa fa-facebook-square"> facebook</i></a> <br/>
        <a href="https://twitter.com/webuygoodsnyc"><i class="fa fa-google-plus-square"> google plus</i></a> <br/>
        <a href="https://plus.google.com/106507584776418285314/about"><i class="fa fa-twitter-square"> twitter</i></a> <br/>
      </div>
      <div class="col-sm-4 col-xs-12">
        Contacts: <br/>
        <a href="https://www.google.com/maps/dir/Current+Location/8710+Lefferts+BLVD+Richmond+Hill+NY+11418"><i class="fa fa-map-marker"> Location Queens</i></a> <br/>
        <!--<a href="https://www.google.com/maps/place/71+W+47th+St,+New+York,+NY+10036"><i class="fa fa-map-marker"> Location Manhattan</i></a> <br/>-->
        <a href="tel:+1-718-846-1600"><i class="fa fa-phone"></i>+1 (718) 846-1600</a> <br/>
        <a href="mailto:webuygoodsny@gmail.com">eMail</a>
      </div>
      <div class="col-sm-4 col-xs-12">
        Visit Us: <br/>
        <a href="http://www.webuygoods.com">WeBuyGoods.Com</a><br/>
        <a href="http://www.sellelectronics.nyc">SellElectronics.NYC</a><br/>
        <a href="http://sellcamera.nyc">SellCamera.NYC</a><br/>
        <a href="http://sellhandbag.nyc">SellHandbag.NYC</a><br/>
        <a href="http://sellgiftcard.nyc">SellGiftCard.NYC</a>
      </div>
    </div>
  </div>
</div>