.container
  .row
    .text-center
      %div
        %p
      %h1 Number one phones and tablets buyer in NYC
      %h4 Hours of Operation
      %p
        12:00 am to 5:00 pm Sunday
        %br/
        10:30 am to 6:30 pm Monday - Friday
        %br/
        Closed Saturday
    .text-center
      %h2 Queens Location
      %p
        %iframe{:frameborder => "0", :height => "300", :src => "https://www.google.com/maps/embed/v1/place?q=119-16%20Jamaica%20Ave%20Queens%2C%20New%20York%2C%20NY%2C%20United%20States&key=AIzaSyAG1JHhDDpKIublp2o1A107YHnRFEGQa7E", :style => "border:0", :width => "100%"}
