
<%
   meta title: "Sell my Phone in NYC New York NY Queens Manhattan",
        description: "We buy Phones in NYC, Queens, Manhattan and Brooklyn for top cash. Sell your iPhone, Samsung
        Note, Samsung Galaxy and other phones in New York CIty. Top dollar for phones in NY.",
        keywords: %w(Sell Phone Phones top cash iPhone iPhones Note Galaxy
         money NYC Queens Manhattan Brooklyn New York Buy video City)
%>
<div class="container-fluid mobile">
  <div class="row main-info">
    <h1><strong>Number one phones and tablets buyer in NYC!</strong></h1>
    <img src="/iphone6.jpg" width="300" class="img center-block hidden-xs" alt=""/>

    <h2>Sell my phone or tablet.</h2>
    <p>You get your new beautiful iPhone or Galaxy, but what to do with old one? Every day electronic items
      lose their value.
      Here at SellIphone.NYC, we would like to purchase your "old", "useless" product and give them "life" again.


    </p>
    <h2>You can sell brand new and used phones and tablets.</h2>
    <p>So if you want to <strong> sell your Apple</strong> or Samsung items in NYC we are here for you. We have two places, one in
      Queens and one in Manhattan, where you can come in person with your items. Our specialists know everything
      about phones
      and tablets in New York City. So for sure you will get the best service and<strong> top dollar for your things</strong>.
      You can call us to scheduale an appointment or get some information. </p>
    <p>We buy all <strong>phones and tablets </strong>from major brands like Apple,
      Samsung, Sony and many others. You can check full list. If you did not find your items there
      feel free to call us or to come to our locations, may be we just forget to write it here.</p>

    <h2>Where to sell your device in NYC?</h2>
    <p>For people who look for a place to sell iPhone in Queens and <strong> Long Island </strong> (Astoria Heights, Ditmars, Little Egypt, LeFrak City, North Corona,
      East Elmhurst, Elmhurst, Forest Hills, Fresh Pond, Glandale, Hunters Point, Jeckson Heights, Long Island City,
      LIC, Maspeth, Middle Village, Rego Park, Ridgewood, Sunnyside, Woodside, Bayside, Flushing, Fresh Meadows, Kew Gardens, Ozone Park,
      Rockwood Park, Richmond Hill, Woodhaven, Jamaica, Rockaways, Elmont, Hempstead, Levittown, Great Neck, Syosset, Hicksville
      Woodmire, Long Beach, Deer Park, Commack, Dix Hils, Oyster Bay, Glen Cove,
      Manhattan, Brooklyn, Bronx, New Jersey or Connecticut
      ,Uptown, Washington Heights, Fort George,
      Harlem, Hamilton Heights, Manhattanville, Yorkville,<strong> Midtown </strong>, Columbus Circle, Times Square,
      Hell's Kitchen, Madison Square, Rose Hill, Flatiron District, Union Square, East Village,
      SoHo, NoHo, Tribeca, Broadway, Williamsburg, Ditmas Park, Bushwick, Greenpoint, Flatbush, Prospect Park,
      Kensington, Chinatown, Coney Island, Brighton Beach, Midwood)</p> <h4> <strong> Queens location address: 8710 Lefferts BLVD, Richmond Hill, NY, 11418</strong></h4>

    <p>Of course<strong> the best way to sell your camera and lens </strong>is to bring them streight to our places, but also feel free
      to call us for any information <br/> tel: +1 (718) 846-1600.</p>
    <p></p>
    <p>We don't purchase any lost or stolen items. Please make sure to have identification and to be over the age of 18.</p>


  </div>
</div>