.container-fluid.mobile
  .row.main-info
    .text-center.bunner-home-page 
      .col-sm-12.col-lg-8.col-md-12.col-lg-offset-2  
        %img.img-responsive{:src => "/bunner-1.jpg", :align => "center", :alt => "Sell iPhone NYC | iPhone Buyers Queens | iPad Buyers Manhattan | Electronic Store New York City"}
    %br
    .col-sm-12.col-lg-12.col-md-12
      .jumbotron
        %h1 Top Dollar For iPhone 7/ iPhone 7 Plus, Samsung Galaxy, Google Pixel, Pixel XL, Nintendo Switch
      .col-sm-12.col-md-12.col-lg-12
      %h1
        %strong Number one phones and tablets buyer in NYC!
      %img.img.center-block.hidden-xs{:alt => "", :src => "/iphone6.jpg", :width => "300"}/
      %h2 Looking to sell your iPhone, iPad, Samsung phones, Android phones etc ... You are on the right page. 
      %p
        You get your new beautiful iPhone or Galaxy, but what to do with old one? Every day electronic items
        lose their value.
        Here at SellIphone.NYC, we would like to purchase your "old", "useless" product and give them "life" again.
      %h2 You can sell brand new and used phones and tablets.
      %p
        So if you want to
        %strong sell your Apple
        or Samsung items in NYC we are here for you. We have two places, one in
        Queens and one in Manhattan, where you can come in person with your items. Our specialists know everything
        about phones
        and tablets in New York City. So for sure you will get the best service and
        %strong> top dollar for your things
        \.
        You can call us to scheduale an appointment or get some information.
      %p
        We buy all
        = succeed "from" do
          %strong phones and tablets
      %h2 Where to sell your device in NYC?
      %p
        For people who look for a place to sell iPhone in Queens and
        %strong Long Island
        (Astoria Heights, Ditmars, Little Egypt, LeFrak City, North Corona,
        East Elmhurst, Elmhurst, Forest Hills, Fresh Pond, Glandale, Hunters Point, Jeckson Heights, Long Island City,
        LIC, Maspeth, Middle Village, Rego Park, Ridgewood, Sunnyside, Woodside, Bayside, Flushing, Fresh Meadows, Kew Gardens, Ozone Park,
        Rockwood Park, Richmond Hill, Woodhaven, Jamaica, Rockaways, Elmont, Hempstead, Levittown, Great Neck, Syosset, Hicksville
        Woodmire, Long Beach, Deer Park, Commack, Dix Hils, Oyster Bay, Glen Cove,
        Manhattan, Brooklyn, Bronx, New Jersey or Connecticut
        ,Uptown, Washington Heights, Fort George,
        Harlem, Hamilton Heights, Manhattanville, Yorkville,
        %strong> Midtown
        , Columbus Circle, Times Square,
        Hell's Kitchen, Madison Square, Rose Hill, Flatiron District, Union Square, East Village,
        SoHo, NoHo, Tribeca, Broadway, Williamsburg, Ditmas Park, Bushwick, Greenpoint, Flatbush, Prospect Park,
        Kensington, Chinatown, Coney Island, Brighton Beach, Midwood)
      %h4
        %strong Queens location address: 119-16 Jamaica Ave, Jamaica, NY, 11418
      %p
        Of course
        the best way to sell your camera and lens
        is to bring them streight to our places, but also feel free
        to call us for any information
        %br/
        tel: +1 (718) 846-1600.
      %p
      %p We don't purchase any lost or stolen items. Please make sure to have identification and to be over the age of 18.
