body, html {

    font-family: 'PT sans', Arial;

}

h1 {
    border-radius: 10px;
    font-weight: bold;
    font-size: 170%;
    padding: 10px 0;
    margin: 0 15px;
    text-align: center;

}


h2 {
    font-weight: bold;
    font-size: 140%;
    margin: 0;
    padding: 0;


}
.logo-part {
    color: #2f3136;
}

.logo {
    font-weight: bold;
    font-size: 200%;
}


.underline-a {
    font-weight: bold;
    font-size: 180%;

}

.bunner-home-page  {
    align-content: center;
    text-align: center;
    width: 100%;
    left: auto;
    margin: auto;
}

@media only screen and (min-width : 768px) {

    .underline-a {
        font-weight: bold;
        font-size: 220%;

    }


    nav .underline-a {
        display: inline-block;
        position: relative;
        padding-bottom: 5px;


    }
    nav .underline-a:after {
        content: '';
        display: block;
        margin: auto;
        height: 3px;
        width: 0px;
        background: transparent;
        transition: width .5s ease, background-color .5s ease;
    }
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {

        color: #2f3136;
    }
    nav .underline-a:hover:after {
        width: 100%;
        background: #2f3136;
    }

    .navbar  {

        height: 150px;
        background: url('/big.jpg');
        background-repeat: no-repeat;
        background-position: bottom center;


    }
}


.footer a {
    font-size: 120%;

}

#phone-button-wrapper {
  animation: shake 1.82s cubic-bezier(.36,.07,.19,.97) both;
  animation-iteration-count:infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
#phone-button-wrapper {
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 32px;
    right: 10px;
    background: #FF7043;
    border-radius: 100px;
    z-index: 100;
    line-height: 70px;
    text-align: center;
    color: white !important;
}

.call-now-sign {
    position: fixed;
    bottom: 0px;
    right: 0px;
    padding-right: 15px;
    background: #FF7043;
    padding-left: 15px;
    border-radius: 100px 0  0 0;
    opacity: 1;
    z-index: 100;
    font-size: 120%;
    color: white !important;
}

.mobile-call {
    height: 60px;
    background: #ececec;
    border-radius: 10px;
    color: #2f3136;
    font-size: 200%;
    line-height: 60px;
    font-weight: bold;
    margin-top: 10px;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.green {
    color: green;
}



.img {
    float: right ;
}

.address {
    margin: 0;
    padding: 0;
}

.main-info p {

    text-indent: 35px;
    font-size: 130%;
    text-align: justify;

}

.mobile-address {
    margin: 0 20px;
}

.footer {
    height: 140px;
    background: white;
    margin-top: 40px;
}

.footer {
//  border-top: 1px solid #736a67;
    padding-top: 0px;
}

.addr {
    font-size: 135%;
}

.mobile-address a {
    font-size: 115% ;
}


.footer-distributed{
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;

  padding: 55px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
  width: 40%;
}

/* The company logo */

.footer-distributed h3{
  color:  #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}

.footer-distributed h3 span{
  color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
  width: 35%;
}

.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  color:  #5383d3;
  text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
  width: 20%;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons{
  margin-top: 25px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

  .footer-distributed{
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }

}


